body {
  background-color: #e0e0e0;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 4vw;
  }
}